---
const { size = '48', class: className = '', title = 'Logo' } = Astro.props;
---

<svg
  class={className}
  width={size}
  height={size}
  viewBox="0 0 1133.86 731.926"
  xmlns="http://www.w3.org/2000/svg"
  role="img"
  aria-label={title}
>
  <title>{title}</title>
  <g>
    <g>
      <path fill="#fff" d="M399.393 731.838c68.753-68.066 88.124-148.108 83.502-236.715-1.761-33.748-.29-67.662-.286-101.504.003-44.64-.78-89.305.64-133.898.307-9.721 6.027-22.182 13.446-28.3 51.443-42.431 103.994-83.519 159.021-127.289.738 7.515 1.464 11.424 1.464 15.326.039 116.64.689 233.285-.186 349.918-1.031 137.066-107.045 250.511-243.762 262.429-8.983.066-11.846-.151-19.847-.151z"/>
      <path fill="#3886EE" d="M417.104 0c78.302 0 156.603 0 241.663 0-68.106 62.347-132.214 121.027-196.32 179.71-1.218-.563-2.434-1.125-3.651-1.691 10.197-32.925 19.275-66.263 31.045-98.619 6.187-17.013 2.669-25.925-12.624-34.761-21.504-12.422-41.583-27.316-62.268-41.152-.438-1.676.281-2.837 1-4.687z"/>
    </g>
    <g>
      <path fill="#fff" d="M1023.057 365.442c-69.98-27.26-136.628-53.228-203.285-79.178-16.054-6.25-32.322-12.011-48.06-18.974-3.561-1.575-7.485-7.176-7.564-10.999-.614-30.495-.341-61.009-.341-93.249 24.342 10.402 47.806 20.321 71.185 30.437 95.278 41.229 190.462 82.67 285.897 123.538 9.197 3.94 12.502 8.479 12.202 18.438-.741 24.748-.242 49.534-.242 74.167-122.962 53.532-245.191 106.749-369.023 160.667 0-33.129-.304-64.756.437-96.362.08-3.431 5.576-8.257 9.59-9.851 76.751-30.507 153.666-60.611 230.537-90.828 8.268-3.675 13.58-6.026 21.536-9.36z"/>
      <path fill="#fff" d="M0.751 409.859c0-29.269 0-58.426 0-88.398C122.418 268.8 244.217 216.085 368.624 162.238c0 5.842.006 9.923 0 14.003-.034 25.229-.475 50.467.1 75.682.223 9.775-2.57 14.75-12.261 18.401-78.49 29.561-156.738 59.761-235.049 89.79-2.813 1.078-5.533 2.396-10.843 4.712 19.633 7.871 37.033 14.915 54.483 21.832 64.826 25.701 129.692 51.296 194.436 77.201 3.496 1.401 8.525 5.231 8.578 8.014.608 31.73.387 63.482.387 97.817C244.435 515.781 122.744 462.887.751 409.859z"/>
    </g>
  </g>
</svg>
